OPENAI_API_KEY=sk-placeholder-main
ENVIRONMENT=local
DOCKERHUB_USERNAME=ADD-YOUR-DOCKERHUB_USERNAME-HERE
DOCKERHUB_ACCESS_TOKEN=ADD-YOUR-DOCKERHUB_ACCESS_TOKEN-HERE
LLM_TOOL_CHOICE=required
LOGGING_LEVEL=20
MYSQL_HOST=mysql-remote.stackademy.com
MYSQL_PORT=3306
MYSQL_USER=stack_readonly
MYSQL_PASSWORD=stack_pass_123
MYSQL_DATABASE=smarter_test_db
MYSQL_CHARSET=utf8mb4
PYTHONPATH=./venv:./
CODECOV_TOKEN=ADD-YOUR-CODECOV_TOKEN-HERE
